.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.board {
  display: inline-block;
  margin-bottom: 20px;
}

.card {
  width: calc(88px + (88px * 0.35)); /* Increase width by 35% */
  height: calc(88px + (88px * 0.35)); /* Increase height by 35% */
  margin: calc(5.5px + (5.5px * 0.35)); /* Increase margin by 35% */
  background-color: rgb(170, 214, 230) !important;
  /* Set initial resting color to light blue */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(26.4px + (26.4px * 0.35)); /* Increase font size by 35% */
  cursor: pointer;
  transition: background-color 0.3s;
}

.card.flipped {
  background-color: rgb(52, 213, 16) !important;
  /* Set flipped color to green */
  color: #fff;
}

.game-over {
  margin-top: calc(22px + (22px * 0.35)); /* Increase margin-top by 35% */
}

.options button {
  margin: calc(5px + (5px * 0.35)); /* Increase margin by 35% */
}

@media (max-width: 576px) {
  .card {
    width: calc(50px + (50px * 0.35)); /* Increase width by 35% */
    height: calc(50px + (50px * 0.35)); /* Increase height by 35% */
    margin: calc(3px + (3px * 0.35)); /* Increase margin by 35% */
    font-size: calc(14px + (14px * 0.35)); /* Increase font size by 35% */
  }
  .game-over {
    margin-top: calc(10px + (10px * 0.35)); /* Increase margin-top by 35% */
  }
}




